
<div class="container-fluid footer foot py-9 my-6 mb-0 bg-light-subtle wow bounceInUp text-center"style = "padding :1%" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10">
                <div class="footer-item">
                    <h1 class="text-primary">WiseTech<span class="text-dark">Source</span></h1>
                    <p class="lh-lg mb-4">we promise it will be worth the wait</p>
                    <div class="footer-icon d-flex justify-content-center">
                        <a href="www.wisetechsource.com" class="btn btn-primary btn-sm-square me-2 rounded-circle">facebook</a>
                        <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href="{% url 'home' %}"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-primary btn-sm-square me-2 rounded-circle"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-primary btn-sm-square rounded-circle"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-18">
                <div class="footer-item">
                    <h4 class="mb-6">Contact Us</h4>
                    <div class="d-flex flex-column align-items-start " style= "margin-left : 38%">
                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i> 123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt text-primary me-2"></i> (+012) 3456 7890 123</p>
                        <p><i class="fas fa-envelope text-primary me-2"></i> info@example.com</p>
                        <p><i class="fa fa-clock text-primary me-2"></i> 26/7 Hours Service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p style="text-align: center;">Copyright &#169; {{excel_data.copyRights}}. All Rights Reserved.</p>
</div>