{% load static %}
{% load drive_url_tags %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
<style>
  ul {
      display: table;
      margin: 10px;
      border-radius: 8px;
  }
  ul li {
      list-style: none;
      display: inline-block;
      margin-left: 50px;
  }
  ul li a {
      font-family: ABeeZee;
      text-decoration: none;
      position: relative;
      margin-left:10px;
      font-size: 18px;
      display: block;
  }
  ul li a + a {
      margin-left: 16px;
  }
  ul li a::after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 4px;
      background-color: rgb(102, 149, 220);
      transform-origin: bottom right;
      transition: transform 0.5s ease;
      transform: scaleX(0);
  }
  ul a:hover::after {
      transform-origin: bottom left;
      transform: scaleX(1);
  }
</style>

<nav class="navbar navbar-expand-lg bg-light" style="padding:10px;">
    <div class="container-fluid" style="font-family:'ABeeZee',sans-serif;font-weight:700;">
      <a class="navbar-brand" href="{% url 'home' %}" style="margin-left:30px;padding: 1px;"><img src = "{{excel_data.wiseLogo|url_convertor}}" alt="WTS" width="100" height="auto"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto navbar-nav-scroll blink-text-menu" style="--bs-scroll-height: 100px;">

          <!--
          {% for i in excel_navbar %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}" style="font-family:timesnewroman; font-size:20px;">{{ i }}</a>
            </li>
          {% endfor %}
          -->
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}" style="font-family:ABeeZee; font-size:20px;">{{ excel_data.wiseHome }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}" style="font-size:20px;">{{ excel_data.wiseProducts }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productdetails' %}" style=" font-size:20px;">{{ excel_data.wiseAboutUs }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-size:20px;">{{ excel_data.wiseContactUs }}</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
