{% extends 'base.html' %}
{% load static %}
{% load drive_url_tags %}

{% block title %}
WTS|About
{% endblock %}

{% block body %}
{% block cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% include "navbar.html" %}
{% include 'wiseProductCatalogApp/background.html' %}

<style>
    #boxer{
        background-color: #f1f1f1;
        margin-left:10px;
    }
</style>

<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow product_data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 text-center mb-8">
                                <h1 class="page-title" style="font-family:Alegreya;color:#d4a762;font-size:60px;">About us</h1>
                            </div>
                            <br>
                        </div>
                        {% for keys, valueses in about_dictionary.items %}
                        {% if keys != 'None' %}
                        {% if keys != 'WiseTeam' %}
                        {% for key, value in valueses.items %}
                        <div class="row about-extra">
                            <div class="col-lg-6" data-aos="fade-right">
                                {% comment %} <img src="{% static "images/hero-img.svg" %} "> {% endcomment %}
                              <img {% if value.0 != 'None' %} src="{{value.0|url_convertor}}"{% else %} src="{{excel_data.wiseSubProductsDefaultImage | url_convertor}}" {% endif %} class="img-fluid" alt="" width='600px' style="margin-top:100px;" >
                            </div>
                            <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
                                <h2 class="mb-4 display-5" style="font-family:Alegreya;color:#d4a762;text-align:center;">{{ key }}</h2>
                              <p>
                                {% with content=value.1|splitter:"." %}
                                    <ul>
                                        {% for contents in content %}
                                        <li class="d-flex align-items-center py-3" style="font-family:Bitter;font-size:20px;">
                                            <span class="bullet bullet-vertical bg-info me-5" ></span>
                                            {{ contents }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% endwith %}
                              </p>
                            </div>
                          </div>
                          {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% comment %} {% for keys, valueses in about_dictionary.items %}
                        {% if keys != 'None' %}
                        {% if keys != 'WiseTeam' %}
                        {% for key, value in valueses.items %}
                        
                                            <div class="d-md-flex post-entry-2 half">
                                                <a href="#" class="me-4 thumbnail">
                                                    <img {% if value.0 != 'None' %} src="{{value.0|url_convertor}}"{% else %} src="{{excel_data.wiseSubProductsDefaultImage | url_convertor}}" {% endif %} alt="Image" width="400px" class="float-start">
                                                </a>
                                                <div class="ps-md-2 mt-6 mt-md-8">
                                                    <h2 class="mb-4 display-5" style="font-family:Alegreya;color:#d4a762;text-align:justify;">{{ key }}</h2>
                                                    {% with content=value.1|splitter:"." %}
                                                    <ul>
                                                        {% for contents in content %}
                                                        <li class="d-flex align-items-center py-3" style="font-family:Bitter;font-size:20px">
                                                            <span class="bullet bullet-vertical bg-info me-5" ></span>
                                                            {{ contents }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endwith %}
                                                </div>
                                            </div>
                                      
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% endfor %} {% endcomment %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container" data-aos="fade-up">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-12 text-center mb-5">
                                            <h2 class="display-4" style="font-family:Alegreya;color:#d4a762;">Our Team</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Team members -->
                                        {% for keys, valueses in about_dictionary.items %}
                                        {% if keys != 'None' %}
                                        {% if keys == 'WiseTeam' %}
                                        {% for key, value in valueses.items %}
                                        <div class="col-lg-4 text-center mb-5">
                                            <div class="icon-box mt-4 mt-xl-0" id="boxer">
                                            <img {% if value.0 != 'None' %} src="{{value.0|url_convertor}}"{% else %} src="{{excel_data.wiseSubProductsDefaultImage | url_convertor}}" {% endif %} alt="" class="img-fluid rounded-circle w-50 mb-4" style="margin-top:10px;">
                                            <h4 style="font-family:Alegreya;color:#d4a762;">{{ key }}</h4>
                                            <span class="d-block mb-3 text-uppercase">{{ value.2 }}</span>
                                            {% with content=value.1|splitter:"." %}
                                            <ul>
                                                {% for costs in content %}
                                                <li class="d-flex align-items-center py-2" style="font-family:Bitter;font-size:20px;margin-left:-45px;text-align:justify;">
                                                    <span class="bullet bullet-vertical bg-info me-4"></span>
                                                    {{ costs }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endwith %}
                                        </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>


                        {% comment %} <div class="col-lg-12 text-center mb-5">
                            <h2 class="display-4" style="font-family:Alegreya;color:#d4a762;">Our Team</h2>
                        </div>


                        {% for keys, valueses in about_dictionary.items %}
                        {% if keys != 'None' %}
                        {% if keys == 'WiseTeam' %}
                        {% for key, value in valueses.items %}


                        <div class="row about-extra">
                            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                                <img {% if value.0 != 'None' %} src="{{value.0|url_convertor}}"{% else %} src="{{excel_data.wiseSubProductsDefaultImage | url_convertor}}" {% endif %} class="img-fluid rounded-circle w-50 mb-4" alt="">
                            </div>
                  
                            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
                              <h4  style="font-family:Alegreya;color:#d4a762;text-align:justify;">{{ key }}</h4>
                              <span class="d-block mb-3 text-uppercase">{{ value.2 }}</span>
                              <p>
                                {% with content=value.1|splitter:"." %}
                                            <ul>
                                                {% for costs in content %}
                                                <li class="d-flex align-items-center py-3" style="font-family:Bitter;font-size:20px;">
                                                    <span class="bullet bullet-vertical bg-info me-4"></span>
                                                    {{ costs }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endwith %}
                              </p>
                            </div>
                  
                          </div>
                          {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% endfor %} {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

{% include 'footer.html' %}
{% endblock body %}
