{% extends 'base.html' %}
{% load static %}
{% block title %}
WTS|Products
{% endblock %}


{% block body %}

{% include 'wiseProductCatalogApp/background.html' %}
{% include "navbar.html" %}

<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <!-- Service Start -->
    <div class="container-fluid service py-4">
        <div class="container">
            <div class="text-center wow bounceInUp" data-wow-delay="0.4s">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3" style="font-family:timesnewroman;">{{excel_data.companyName}}</small>
                <h1 class="display-5 mb-5" style="font-family:Alegreya;color:white;">{{excel_data.subHeadingMain1}}</h1>
            </div>
            <div class="row g-3">

                {% for key in main_sector %}
                    <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s">
                        <div class="bg-light rounded service-item">
                            <div class="service-content d-flex align-items-center justify-content-center p-4">
                                <div class="service-content-icon text-center">
                                    {% if key in main_sector_logo %}
                                        {% for keys, values in main_sector_logo.items %}
                                            {% if keys == key %}
                                                <i style="width:110px;height:120px;" class="{{values}} fa-6x text-primary mb-3" ></i>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <i class="fa fa-image fa-7x text-primary mb-4" aria-hidden="true"></i>
                                    {% endif %}
                                    
                                    
                                    <h4 class="mb-3" style="font-family:Bitter;">{{key}}</h4>
                                    <a href="{% url 'subproducts' key %}" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    <!-- Service End -->
    <br>
    <script>
        $(document).ready(function () {
            $(".container-fluid").hide().fadeIn(2500);
        });
    </script>
    {% include 'footer.html' %}
{% endblock body %}
